<header id="Inicio">
    <!-- <video [src]="video" class="vid-bg" autoplay loop muted></video> -->
    <video src="../../../assets/video.old.mp4" class="vid-bg" #video>
    </video>
    <div class="nav-area">

        <div class="logo">
            <img src="../../../assets/logo.png" alt="">
        </div>
        <i class="fas fa-bars" id="barra"></i>
        <ul class="menu-area">
            <li class="borde"><a href="#Inicio">Home</a></li>
            <li class="borde"><a href="#AcercaNosotros">About us</a></li>
            <li class="borde"><a href="#nuestrosServicios">Services</a></li>
            <li><a href="#contacto">Contact us</a></li>
            <li>
                <select name="" id="idioma" (change)="selectIdioma($event)">
                    <option value="en">En</option>
                    <option value="es">Es</option>
                </select>
            </li>
        </ul>
    </div>

    <div id="menu-responsivo" class="animate__animated">
        <i class="far fa-times-circle" id="cerrarRes"></i>
        <ul class="menu-area-responsivo">
            <li class="res"><a href="#Inicio">Home</a></li>
            <li class="res"><a href="#AcercaNosotros">About us</a></li>
            <li class="res"><a href="#nuestrosServicios">Services</a></li>
            <li class="res"><a href="#contacto">Contact us</a></li>
            <li id="idioma">
                <select name="" (change)="selectIdioma($event)">
                    <option value="en">En</option>
                    <option value="es">Es</option>
                </select>
            </li>
        </ul>
    </div>

    <!--Banner-->

    <div class="banner-text">
        <h2 class="banner2" style="text-shadow: 1px 1px black;">Royal World <span class="color2">Logistics</span></h2>
        <p style="font-size: 1.4rem !important; text-shadow: 1px 1px black;">Your strategic ally with more than 20 years
            in the marking. </p>
        <a href="#contacto" class="btn">Contact us</a>
        <div id="divImgBanner" style="position: absolute; top: -250px; left: 150px; width: 200px; height: 200px;">
            <img src="../../../assets/logo-grande.png" style="width: 100%;" alt="">
        </div>
    </div>
</header>
<!--Acerca de nosotros-->

<div class="row" id="AcercaNosotros">
    <div id="colAcerca">
        <div id="colNosotros">
            <div id="divImgSobre">
                <img src="../../../assets/acerca.png" id="imgSobre" alt="Sobre Nosotros" />
            </div>
            <div id="divSobreNosotros">
                <h1 class="txtAcerca" style="margin-bottom: 25px;">About us</h1>
                <p class="txtdescrip">
                    We are a Panamanian capital company specialized in providing our clients with a personalized service
                    in the handling of their merchandise. We take care of solving all your problems related to
                    transportation, consolidation, storage, handling, packaging and distribution of your products both
                    nationally and internationally.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Fin Acerca de nosotros-->

<!-- Mision Vision-->
<div class="row justify-content-center" id="areaAzul">
    <div class="col-4 divRow">
        <h1 class="titulo">Mission</h1>
        <p class="concepto">
            We Offer a specialized and personalized service, guaranteeing the delivery of comprehensive logistics
            solutions according to the needs of our clients, in a timely and efficient manner.
        </p>
    </div>

    <div class="col-4 divRow">
        <h1 class="titulo">Vision</h1>
        <p class="concepto">
            Become the business partners that provide real value to our customers.
        </p>
    </div>
</div>
<!-- Fin Mision Vision-->

<!-- Servicios-->
<div id="nuestrosServicios">
    <h1 class="serviciosTodo">Our services</h1>
</div>

<app-carousel></app-carousel>

<!--Fin Servicios-->

<!--Contactenos-->

<div id="nuestrosServicios">
    <h1 class="serviciosTodo" id="contacto">Contact us</h1>
</div>
<div class="cards">
    <div class="card">
        <i class="fas fa-mobile-alt"></i>
        <h3 class="tituloContacto">Cellphone numbers</h3>
        <p class="descripcionContacto">(+507) 6838-9824 <br> (+507) 6440-7575</p>
    </div>

    <div class="card">
        <i class="far fa-building"></i>
        <h3 class="tituloContacto">Ubicación</h3>
        <p class="descripcionContacto">
            Colon free zone, Panama - Ave, Sta Isabel Edific. Cofrisa No 4, Office No 18
        </p>
    </div>

    <div class="card">
        <i class="far fa-comment-dots"></i>
        <h3 class="tituloContacto">Email address</h3>
        <p class="descripcionContacto">ventas@royalwlogistics.com</p>
    </div>
</div>

<!--Fin Contactenos-->

<div class="card-footer">
    <div id="texto">
        <span> ©2021 Royal World Logistics</span> <span> | </span> <span>All rights reserveds</span>
    </div>

    <div id="redesSociales">
        <a href="https://api.whatsapp.com/send?phone=50768389824&text=Hola,%20quisiera%20hacerle%20una%20pregunta"
            target="_blank"><i id="whatsaap" class="fab fa-whatsapp"></i></a>
    </div>
</div>